[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
sqlparse = "*"
pyyaml = "*"
psycopg2-binary = "*"
metabasepy = "*"
requests = "*"
sql-metadata = "*"

[requires]
python_version = "3.7"
